<footer id="footer" class="footer" style="  
left: 0;
bottom: 0;
width: 100%;
background-color: transparent;
text-align: center;">
  <div class="copyright">
    &copy; Copyright <strong><span>Drivin</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
Designed by <a href="https://MisaleAcadamy.com/">MisaleAcadamy</a>
  </div>
</footer><!-- End Footer -->
