 <style>
  .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  padding: 20px;
}
 </style>
  <footer class="footer mt-auto py-3 bg-info">
    <div class="container">
      © 2023 Copyright: <a href="https://www.KirayLocator.com" target="_blank" class="text-light"> KirayLocator.com </a>

    </div>
  </footer>