

  <div class="bs-example">
   
    <nav class="navbar navbar-expand-md navbar-light fixed-top " style="background-color: #2eca6a;">
       <!--  <a href="#" class="navbar-brand">Brand</a> -->
       <a class="navbar-brand" style="box-shadow:0px 4px 4px 0px #1B4E70;" href="/"><span style="color:whitesmoke ;" aria-hidden="true"><i class="fa fa-lg fa-home" style="color:whitesmoke ;" aria-hidden="true"></i>KIRAY</span> </a>
         
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse " id="navbarCollapse">
            <div class="navbar-nav ">
                
            </div>
            <div class="navbar-nav ml-auto">
              <a  href="/#about" class="nav-item nav-link"><span style="color:whitesmoke ;" aria-hidden="true"> About Us</span></a>
           
             <!--  <a href="/users/welcome">Register</a> -->
              <a href="/#service"  class="nav-item nav-link"><span style="color:whitesmoke ;" aria-hidden="true"> Our Services </span></a>
              <a href="/#price"  class="nav-item nav-link"><span style="color:whitesmoke ;" aria-hidden="true"> Manage Rentals </span></a>
              <a href="/#contacts"  class="nav-item nav-link"><span style="color:whitesmoke ;" aria-hidden="true"> Contact Us </span></a>
              <a href="/#price"  class="nav-item nav-link"><span style="color:whitesmoke ;" aria-hidden="true"> Register </span></a>
              <a href="/login"  class="nav-item nav-link"><span style="color:whitesmoke ;" aria-hidden="true"> Login </span></a>
             
              <a href="/search"  class="nav-item nav-link"><span style="color:whitesmoke ;" aria-hidden="true"> Search </span></a>
           
            </div>
        </div>
    </nav>
  </div>
  <div class="content" style="margin-right: 10px; margin-left: 10px;margin-top: 50px; padding-top: 10px;" >
  
  
  
  </div>