<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/misaleacadamy/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-heading"> Manage Batch</li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav45" data-bs-toggle="collapse" href="#">
        <i class="bi bi-back"></i><span>Manage Batch </span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav45" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal2" data-foo=${FOO} data-toggler="Batch">
            <i class="bi bi-circle"></i><span>Add New Batch</span>
          </a>
        </li>
     
        <li>
          <a href="/misaleacadamy/dept/deptallbatchlist">
            <i class="bi bi-circle"></i><span>All Batch List</span>
          </a>
        </li>
        
      </ul>
    </li>
    <li class="nav-heading"> Candidate(Tehadso) Setting</li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-patch-question-fill"></i><span>Manage Theortical Question </span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/misaleacadamy/dept/deptaddnewquestion">
            <i class="bi bi-circle"></i><span>Add Theortical Question</span>
          </a>
        </li>
     
        <li>
          <a href="/misaleacadamy/dept/deptallquestionlist">
            <i class="bi bi-circle"></i><span>All Theortical Question List</span>
          </a>
        </li>
        
      </ul>
    </li><!-- End Components Nav -->
  
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav2" data-bs-toggle="collapse" href="#">
        <i class="bi bi-patch-check"></i><span>Manage Practical Assessment</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/misaleacadamy/dept/deptnewassessements">
            <i class="bi bi-circle"></i><span>Add Practical Assessment Checklist</span>
          </a>
        </li>
       
      
        <li>
          <a href="/misaleacadamy/dept/deptallassessment">
            <i class="bi bi-circle"></i><span>All Practical Assessment List</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav6" data-bs-toggle="collapse" href="#">
        <i class="bi bi-alarm-fill"></i> <span>Manage Assessor  Schedule For Candidate(Tehadso)</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav6" class="nav-content collapse " data-bs-parent="#sidebar-nav">
    
        <li>
          <a href="/misaleacadamy/dept/deptaddassossorschedule">
            <i class="bi bi-circle"></i><span>Add Assessor Schedule</span>
          </a>
        </li>
        <li>
          <a href="/misaleacadamy/dept/depthisweekschedule">
            <i class="bi bi-circle"></i><span>Current Schedule</span>
          </a>
        </li>
      
      </ul>
    </li><!-- End Components Nav -->
    <li class="nav-heading">TOT(Trainee) Setting</li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav78" data-bs-toggle="collapse" href="#">
       
        <i class="bi bi-badge-cc"></i>
        <span>Manage TOT Courses</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav78" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/misaleacadamy/dept/deptaddnewtotcourse">
            <i class="bi bi-circle"></i><span>Add New TOT Course</span>
          </a>
        </li>
        <li>
          <a href="/misaleacadamy/dept/deptalltotcourselist">
            <i class="bi bi-circle"></i><span>All Courses List</span>
          </a>
        </li>
      
     
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav7" data-bs-toggle="collapse" href="#">
       
        <i class="bi bi-question-octagon-fill"></i>
        <span>Manage TOT Theoretical Question</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav7" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/misaleacadamy/dept/deptaddtrainerassessement/Intrance">
            <i class="bi bi-circle"></i><span>Intrance Assessment</span>
          </a>
        </li>
        <li>
          <a href="/misaleacadamy/dept/deptaddtrainerassessement/Continuous">
            <i class="bi bi-circle"></i><span>Continuous Assessment</span>
          </a>
        </li>
       
        <li>
          <a href="/misaleacadamy/dept/deptaddtrainerassessement/Final">
            <i class="bi bi-circle"></i><span>Final Assessment</span>
          </a>
        </li>
        <li>
          <a href="/misaleacadamy/dept/deptalltrainerquestionlist">
            <i class="bi bi-circle"></i><span>All List</span>
          </a>
        </li>
     
      </ul>
    </li><!-- End Components Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav8" data-bs-toggle="collapse" href="#">
       
        <i class="bi bi-patch-check"></i>
        <span>Manage TOT  Practical Assessment</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav8" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/misaleacadamy/dept/deptnewassessmenttrainer">
            <i class="bi bi-circle"></i><span>Add Practical Assessment Checklist</span>
          </a>
        </li>
        <li>
          <a href="/misaleacadamy/dept/deptallassessmenttrainerpracticallist">
            <i class="bi bi-circle"></i><span>All Practical Assessment List</span>
          </a>
        </li>
        
      </ul>
    </li><!-- End Components Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav69" data-bs-toggle="collapse" href="#">
        <i class="bi bi-alarm-fill"></i> <span>Manage Assessor  WBD For TOT(Trainee)</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav69" class="nav-content collapse " data-bs-parent="#sidebar-nav">
    
        <li>
          <a href="/misaleacadamy/dept/deptaddassossorscheduletot">
            <i class="bi bi-circle"></i><span>Add Assessor WBD</span>
          </a>
        </li>
        <li>
          <a href="/misaleacadamy/dept/depthisweekscheduletot">
            <i class="bi bi-circle"></i><span>Current WBD</span>
          </a>
        </li>
      
      </ul>
    </li><!-- End Components Nav -->
    <li class="nav-heading">Manage Data</li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav67" data-bs-toggle="collapse" href="#">
       
        <i class="bi bi-cloud-fill"></i>
        <span>Manage Candidate(Tehadso)  Data</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav67" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/misaleacadamy/dept/deptalltehadsotraineelist">
            <i class="bi bi-circle"></i><span>On Progress Candidate(Tehadso) </span>
          </a>
        </li>
        <li>
          <a href="/misaleacadamy/dept/deptalltehadsotraineelistpass">
            <i class="bi bi-circle"></i><span>Pass Candidate(Tehadso) </span>
          </a>
        </li>
        <li>
          <a href="/misaleacadamy/dept/deptalltehadsotraineelistsenttoash">
            <i class="bi bi-circle"></i><span>Sent To ASH</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav9" data-bs-toggle="collapse" href="#">
       
        <i class="bi bi-cloud-fill"></i>
        <span>Manage TOT(Trainee) Data</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav9" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/misaleacadamy/dept/deptallnewtraineetrainer">
            <i class="bi bi-circle"></i><span>New  TOT(Trainee)</span>
          </a>
        </li>
    
        <li>
          <a  href="/misaleacadamy/dept/deptintranceexamresults">
            <i class="bi bi-circle"></i><span> TOT(Trainee) Intrance Exam Results </span>
          </a>
        </li>
        <li>
          <a href="/misaleacadamy/dept/depttraineetrainerregisteredstudents">
            <i class="bi bi-circle"></i><span>Current Registred TOT(Trainee) Mark List</span>
          </a>
        </li>
        <li>
          <a href="/misaleacadamy/dept/deptalltraineetrainerlistcurrentstudentmarklist">
            <i class="bi bi-circle"></i><span>Current  TOT(Trainee) Grade Report</span>
          </a>
        </li>

        <li>
          <a href="/misaleacadamy/dept/deptalltraineetrainerlistmarklist">
            <i class="bi bi-circle"></i><span>All Misale TOT(Trainee) Grade Report</span>
          </a>
        </li>
        <li>
          <a href="/misaleacadamy/dept/deptalltraineetrainerpayedforcertificate">
            <i class="bi bi-circle"></i><span> TOT(Trainee) Payed For Certificate</span>
          </a>
        </li>
        
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-heading">Report</li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav3" data-bs-toggle="collapse" href="#">
       
        <i class="bi bi-bar-chart"></i>
        <span>Manage Report</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav3" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/misaleacadamy/dept/deptassessementsreport">
            <i class="bi bi-circle"></i><span>Assessment Report</span>
          </a>
        </li>
        <li>
          <a href="/misaleacadamy/dept/deptothereport">
            <i class="bi bi-circle"></i><span>Other Report</span>
          </a>
        </li>
        <li>
          <a href="/misaleacadamy/dept/deptstatistics">
            <i class="bi bi-circle"></i><span>Statistics</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

  
    <li class="nav-item">
      <a class="nav-link collapsed" href="/logout">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Logout</span>
      </a>
    </li><!-- End Login Page Nav -->

  

  </ul>

</aside><!-- End Sidebar-->

<div class="modal" id="myModal">
  <div class="modal-dialog ">
      <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title">Add <span class="configtype"></span></h4>
              <button type="button" class="close" data-dismiss="modal">X</button>
          </div>
     <form action="/misaleacadamy/dept/deptaddconfig" method="post">
      <div class="modal-body">
        <label>Please Add Here</label>
        <input type="hidden" class="js-toggler__input" value="" name="configcat" >
        <input class="form-control" name="configval">
          </div>
           <div class="modal-footer">
               <button type="submit" class="btn btn-sm btn-outline-primary">Save</button>
          </div>
     </form>
      </div>
 </div>
</div>
<div class="modal" id="myModal2">
  <div class="modal-dialog ">
      <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title">Add <span class="configtype"></span></h4>
              <button type="button" class="close" data-dismiss="modal">X</button>
          </div>
     <form action="/misaleacadamy/dept/deptaddbatch" method="post">
      <div class="modal-body">
        <label>Please Add Here</label>
        <input type="hidden" class="js-toggler__input" value="" name="configcat" >
        <input class="form-control" name="batchname">
          </div>
           <div class="modal-footer">
               <button type="submit" class="btn btn-sm btn-outline-primary">Save</button>
          </div>
     </form>
      </div>
 </div>
</div>
<div class="modal" id="myModal3">
  <div class="modal-dialog ">
      <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title">Select Batch To See Intrance Exam Results</h4>
              <button type="button" class="close" data-dismiss="modal">X</button>
          </div>
     <form action="/misaleacadamy/dept/deptintranceexamresults" method="post">
      <div class="modal-body">
        <label>Please Select Here</label>
        <select class="form-control form-control-sm mb-1" name="batchname">
          <option value="0">Please Select Applicant Batch</option>
       
          </select>
          </div>
           <div class="modal-footer">
               <button type="submit" class="btn btn-sm btn-outline-primary">Save</button>
          </div>
     </form>
      </div>
 </div>
</div>
<script>
  $('[data-toggle="modal"]').on('click', function () {
    const toggler = $(this);
    const toggler_identifier = toggler.attr('data-toggler');
    let modal_id = toggler.attr('data-target');
    $(modal_id).find('.js-toggler__input').val(toggler_identifier);
    $(modal_id).find('.configtype').html(toggler_identifier);
});
</script>