
<html lang="en" class="ie_11_scroll">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="hhhwidth=device-width, initial-scale=1">
        <title>Index</title>

        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/templatemo_style.css">
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="favicon.png" />
        <style> @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); .container-bottom-to-up { overflow: hidden; margin: 0px; } .top-to-bottom { animation: 0.4s top-to-bottom forwards; font-size: 24px; font-weight: 600; letter-spacing: -.005em; font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; color: rgba(0,0,0,0.8); text-align: left; } @keyframes top-to-bottom { from { transform: translateY(-48px); } to { transform: translateY(0); } } </style>
        <style>
 
.contact-image{
    text-align: center;
}
.contact-image img{
   
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}


        </style>
      <style>
     
.attribution { 
  font-size: 11px; text-align: center; 
  background-color: hsl(240, 5%, 91%);
  padding: 8px 0 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.attribution a { color: hsl(228, 45%, 44%); }


.card-wrapper {
  min-height: 100vh;
  padding-bottom: 50px; /* footer fixed */
  padding-top: 25px;
}

p {
  margin: 0 0 12px;
  line-height: 1.5;
}

h2 {
  margin: 12px 0;
}


.content-cc{
  display: flex;
  justify-content: center;
  align-items: center;
}


.faq-card {

  background-color: #fff;
  border-radius: 20px;

  margin-top: 90px;
}

.faq-ilustrations{
  position: relative;
}

.faq-ilustrations .mobile.ilust{
  position: absolute;
  top:-110px;
  left:-30px;
  right: 0;
}

.mobile{
  display: block;
  margin: 0 auto;
}


.faq-content {
  padding: 9px 25px 3rem; 
}

.faq-content h1 {
  font-size: 32px;
  text-align: center;
  color: var(--primary-dark-color);
}

.faq-accordion {
  padding: 8px 0;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}


input.tgg-title {
  appearance: unset;
  all:unset;
}

.faq-accordion-title label{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faq-accordion-title h2{
  font-size: 12px /*var(--font-size)*/;
  font-weight: 400;
  color: var(--neutral-dark-color);
}

.faq-accordion-title span{
  margin-left: auto;
  transition: transform .4s ease-in-out;
}


.faq-accordion-content {
  color: var(--neutral-soft-color);
  overflow: hidden;
  max-height: 0;
  transition: max-height .4s ease-in-out;
}


.faq-accordion-title:hover h2{
  color: var(--primary-soft-color)
}

/* onclick "" */
.faq-accordion .tgg-title:checked + div>label>h2 {
  font-weight: 700;
}

.faq-accordion .tgg-title:checked + div>label>span {
  will-change: transform;
  transform: rotate(180deg);
}


.faq-accordion .tgg-title:checked ~ .faq-accordion-content{
  will-change: max-height;
  max-height: 80px;
}


      </style>
    </head>
    <body>
        <!-- Top menu -->
        <div class="show-menu">
            <a href="#" class=""><i class="fa fa-list"></i></a>
        </div>
        <nav class="main-menu shadow-top-down">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#templatemo_home" class="scroll_effect">Home</a></li>
             
                <li><a href="#help" class="scroll_effect">Help</a></li>
              
                <li><a href="#contact" class="scroll_effect">Contact</a></li>
                <li><a href="/login" class="scroll_effect">Login</a></li>
            </ul>
        </nav>
        <!-- Home -->
        <section id="templatemo_home">
            <div class="container">
                <div class="templatemo_home_inner_wapper">
                    <h1 class="text-center text-primary top-to-bottom"  style=" text-transform: uppercase; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><i class="fa fa-car text-primary me-2" ></i> Drivin</h1>
                </div>
                <div class="templatemo_home_inner_wapper">
                    <h2 class="text-center " style="color: black;"> <span style="
                        font-size: 24px;
                        letter-spacing: 5.4px;
                        word-spacing: 4px;
                        color: #000000;
                        font-weight: 700;
                        text-decoration: underline solid rgb(68, 68, 68);
                        font-style: italic;
                        font-variant: normal;
                        text-transform: uppercase;">Misale</span> Driving License Assessment Managemnt System FOR TOT</h2>
                    <p class="text-center">
                  </p> 
                </div>
                <div class="templatemo_home_inner_wapper btn_wapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="#templatemo_features" class="btn col-xs-12 scroll_effect shadow-top-down">
                                <i class="fa fa-question-circle"></i> Practice Questions
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="#help" class="btn col-xs-12 scroll_effect shadow-top-down">
                                <i class="fas fa-hands-helping"></i> Help
                            </a>
                        </div>
                    </div>
                  
                </div>
            </div>
        </section>
        <!-- Features -->
        <section id="templatemo_features">
            <div class="container-fluid">
                <header class="template_header">
                    <h1 class="text-center text-primary " style="font-weight: 700"><span></span> Ready to start? <span></span></h1>
                    <br>
                  
                    <h2 class="text-center  " style="font-weight: 400">License-Specific Driving Test Practice</h2>
                    
                    <p><h3 class="text-center "style="color:black">Practice tests that help you pass your driving knowledge test faster and <span class="text-primary" style="font-weight: 700; text-transform: uppercase;">more effectively.</span></h3></p>
               
                  </header>
              
             
            </div>
            <div class="col-md-6 offset-md-2">
              <a class="btn btn-block btn-primary " href="/login">Login To Start</a>
            </div>
            <hr>
        </section>
      
       <section id="help" style="background-color: white;">
        <div class="card-wrapper  | content-cc">
            <div class="faq-card">
          
              <div class="faq-ilustrations">
          
                <!-- mobile -->
                <img class="mobile pattern" 
                     src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/bg-pattern-mobile.svg">
                </img>
                <img class="mobile ilust" 
                     src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/illustration-woman-online-mobile.svg">
                </img>
                <!-- mobile -->
              </div>
          
              <main class="faq-content col-md-8 offset-md-2" >
                <h1>Help</h1>
          
                <div class="faq-articles">
          
                  <article class="faq-accordion">
          
                    <input type="checkbox" class="tgg-title" id="tgg-title-1">
          
                    <div class="faq-accordion-title">
                      <label for="tgg-title-1">
                        <h2>What is a driving license online assessment web application system?</h2>
                        <span class="arrow-icon">
                          <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                        </span>
                      </label>
                    </div>
          
                    <div class="faq-accordion-content">
                      <p> It is an online platform that allows users to take a driving 
                        license assessment exam from their computer or mobile device.</p>
                    </div>
          
                  </article> <!-- faq accordion -->
          
                  <article class="faq-accordion">
          
                    <input type="checkbox" class="tgg-title" id="tgg-title-2">
          
                    <div class="faq-accordion-title">
                      <label for="tgg-title-2">
                        <h2>
                          Who can use this system?
                        </h2>
                        <span class="arrow-icon">
                          <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                        </span>
                      </label>
                    </div>
          
                    <div class="faq-accordion-content">
                      <p>Anyone who is preparing to take a driving license assessment 
                        exam can use this system. And should be Misale Acadamy Student</p>
                    </div>
          
                  </article> <!-- faq accordion -->
          
                  <article class="faq-accordion">
          
                    <input class="tgg-title" type="checkbox" id="tgg-title-3">
          
                    <div class="faq-accordion-title">
                      <label for="tgg-title-3">
                        <h2>
                          How do I access the online assessment?
                        </h2>
                        <span class="arrow-icon">
                          <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                        </span>
                      </label>
                    </div>
          
                    <div class="faq-accordion-content">
                      <p>You can access the online assessment by logging into the 
                        web application system using your credentials.</p>
                    </div>
          
                  </article> <!-- faq accordion -->
          
                  <article class="faq-accordion">
          
                    <input class="tgg-title" type="checkbox" id="tgg-title-4">
          
                    <div class="faq-accordion-title">
                      <label for="tgg-title-4">
                        <h2>
                          What type of questions are included in the assessment?
                        </h2>
                        <span class="arrow-icon">
                          <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                        </span>
                      </label>
                    </div>
          
                    <div class="faq-accordion-content">
                      <p>
                        The assessment includes questions related to road safety, 
                        traffic laws, and driving regulations.

                      </p>
                    </div>
          
                  </article> <!-- faq accordion -->
          
                  <article class="faq-accordion">
          
                    <input class="tgg-title" type="checkbox" id="tgg-title-5">
          
                    <div class="faq-accordion-title">
                      <label for="tgg-title-5">
                        <h2>
                          How long does the assessment take?
                        </h2>
                        <span class="arrow-icon">
                          <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                        </span>
                      </label>
                    </div>
          
                    <div class="faq-accordion-content">
                      <p>The assessment typically takes between 30 and 60 minutes to complete.</p>
                    </div>
          
                  </article> <!-- faq accordion -->
                  <article class="faq-accordion">
          
                    <input class="tgg-title" type="checkbox" id="tgg-title-6">
          
                    <div class="faq-accordion-title">
                      <label for="tgg-title-5">
                        <h2>
                          What happens if I fail the assessment?
                        </h2>
                        <span class="arrow-icon">
                          <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                        </span>
                      </label>
                    </div>
          
                    <div class="faq-accordion-content">
                      <p>If you fail the assessment, you may retake the exam 
                        after a certain period of time 4 times.</p>
                    </div>
          
                  </article> 
                  <article class="faq-accordion">
          
                    <input class="tgg-title" type="checkbox" id="tgg-title-6">
          
                    <div class="faq-accordion-title">
                      <label for="tgg-title-6">
                        <h2>
                          What happens if I fail the assessment?
                        </h2>
                        <span class="arrow-icon">
                          <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                        </span>
                      </label>
                    </div>
          
                    <div class="faq-accordion-content">
                      <p>If you fail the assessment, you may retake the exam after a 
                        certain period of time 4 times.</p>
                    </div>
          
                  </article> 
                  <article class="faq-accordion">
          
                    <input class="tgg-title" type="checkbox" id="tgg-title-7">
          
                    <div class="faq-accordion-title">
                      <label for="tgg-title-7">
                        <h2>
                          How do I receive my results?
                        </h2>
                        <span class="arrow-icon">
                          <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                        </span>
                      </label>
                    </div>
          
                    <div class="faq-accordion-content">
                    <p>You will receive your results immediately after completing 
                      the assessment on the web application system. The system may 
                      also provide you with a detailed score report.

                    </p>  
                    </div>
          
                  </article> 
                  <article class="faq-accordion">
          
                    <input class="tgg-title" type="checkbox" id="tgg-title-8">
          
                    <div class="faq-accordion-title">
                      <label for="tgg-title-8">
                        <h2>
                          Can I contact customer support if I have any questions or issues?
                        </h2>
                        <span class="arrow-icon">
                          <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                        </span>
                      </label>
                    </div>
          
                    <div class="faq-accordion-content">
                    <p> Yes, you can contact customer support via the system's 
                      support center
                       or through the contact information provided on the web application.
                    </p>  
                    </div>
          
                  </article> 
                </div> <!-- faq articles -->
          
              </main> <!-- faq -->
          
            </div> <!-- faq card -->
          
          </div> <!-- card wrapper -->
          
         
       </section>
       <section id="contact" style="background-color: white;">
        <div >
            <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
            </div>
            <form method="post">
                <h3>Drop Us a Message</h3>
               <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                        </div>
                       
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                       
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <input type="submit" name="btnSubmit" class="btn btn-primary btn-block" value="Send Message" />
                   <br>
                   <hr>
                    </div>
                  
                </div>
                
            </form>
</div>
       </section>
       <%- include ('./partials/footer') %>
        <!-- require plugins -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.parallax.js"></script>
        <!-- template mo config script -->
        <script src="js/templatemo_scripts.js"></script>
    </body>
</html>